<div class="container-fluid pt-3">
        <p class="text-center h4">{{ header }}</p>
    </div>
    <hr>
<div class="container-fluid">
  <div class="container text-center">
    <p>banner image goes here</p>
    <p>Profile pic</p>
    <p>first name last name</p>
    <p>San Francisco, CA</p>
  </div>
</div>
<hr>
<!-- <div class="container-fluid text-center"> will be used for when a user visits another profile.
  <a class="pr-2">Add</a> need to add user to friend list and change button
  <a [routerLink] = "['user/chat/, 2']" class="pr-2">Message</a>
  <a class="pr-2">Comment</a> need to build component
</div> -->
<div class="container text-center pt-3">
    Show posts
</div>
