.profile-pic {
    width: 25vw;
    height:11vh;
    border-radius: 50%;
    border: black solid 1px;
}
.post{
    border: black solid 1px;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #E9EBEE
}