<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">	

   <div class="container text-right">
     <div class="row row-striped shadow-sm p-3 mb-5 bg-white rounded">
                <div class="col-2">
                        <h1><span class="badge badge-secondary">23</span></h1>
                        <h3>OCT</h3>
                </div>
                <div>
                        <button [routerLink]= "['details', 1]" class="btn btn-dark text-uppercase ml-5 mb-2"><strong>Lake Tahoe Blues</strong></button>
                        <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Oct 23 - Oct 27</li>
                                <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>   8:00 AM</li>
                                <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Lake Tahoe</li>
                        </ul>
                </div>
        </div>

        <div class="row row-striped shadow-sm p-3 mb-5 bg-white rounded">
                <div class="col-2">
                        <h1><span class="badge badge-secondary">17</span></h1>
                        <h3>DEC</h3>
                </div>
                <div>
                        <button class="btn btn-dark text-uppercase ml-5 mb-2"><strong>Big Bear</strong></button>
                        <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Dec 17</li>
                                <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>   5:30 AM - 11:00 PM</li>
                                <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Bear Valley</li>
                        </ul>
                </div>
        </div>
   </div>
