<div class="container-fluid">

<div id="map" style="width:100%;height:400px"></div>

<h1>Would you like to create an event?</h1>
<h3>Please enter the information for your event below!</h3>

    <form>
        <label>What would you like to call your event?</label>
        <div class="form-group">
          <input type="text" class="form-control rounded-pill text-center" placeholder="Event Title">
        </div>
        <div class="form-group">
            <label>Where will this event be held? </label>
          <input type="text" class="form-control rounded-pill text-center" placeholder="Location">
        </div>
        <div class="form-group">
            <label>Who created this event?</label>
          <input type="name" class="form-control rounded-pill text-center" placeholder="Created By...">
          <small class="text-muted">Please enter your name here!</small>
        </div>
        <button type="submit" class="btn btn-primary rounded-pill pl-5 pr-5">Create Event</button>
      </form>

</div> <!-- end of overflow -->
