 <p class="float-right pr-3 pt-2" [routerLink]="['/user/chat/2']">-></p>
 <p class="h4 pt-5 pb-2 text-center">name of recipient</p>

 <!-- -------------------------------------------------------------------------------------------------------------- -->
 <div class="form-group">
   <label for="username">Username</label>
   <input type="text" [(ngModel)]="user" class="form-control" id="username" placeholder="enter username">
 </div>
 <!-- -------------------------------------------------------------------------------------------------------------- -->

 <div class="form-group">
   <label for="roomInput">Room</label>
   <select name="roomInput" id="roomInput" type="text" [(ngModel)]="room" class="form-control"
     placeholder="enter username">

     <option value="Lobby">Lobby</option>
     <option value="Hall">Hall</option>
     <option value="Deluxe">Deluxe</option>
   </select>
 </div>
 <!-- -------------------------------------------------------------------------------------------------------------- -->

 <div class="row">
   <button class="btn btn-primary" (click)="join()">Join</button>
   <button class="btn btn-primary" (click)="leave()">Leave</button>

 </div>
 <!-- -------------------------------------------------------------------------------------------------------------- -->


 <hr>
 <div class="container overflow-auto msg-container mb-4">
   <div class="container wrapper border border-dark m-1" *ngFor="let item of messageArray">
     <p>{{ item.user }} : {{ item.message }}
     </p>
   </div>
   <p>Messages will appear here</p>
 </div>
 <div class="container-fluid">
   <form>
     <div class="form-row">
       <div class="col-10">
         <textarea name="messageText" type="text" [(ngModel)]= "messageText"
           class="form-control border border-dark rounded text-center msg-input-container d-inline-block" rows="3"
           placeholder="Type here!"></textarea>
       </div>
       <div class="col">
         <button (click)="sendMessage()" class="btn btn-primary rounded-circle pl-3 pr-3 pt-2 pb-2 mt-3">></button>
       </div>
     </div>
   </form>
 </div>
