<div class="container-fluid pt-3">
        <p class="text-center h4">{{ header }}</p>
    </div>
    <hr>
<div class="container-fluid text-center">
    <form (submit)='findOne()'> <!-- will need to add event here -->
        {{ findFriend | json}}

        <input name="friend" [(ngModel)]="findFriend.friend" type="text" class="form-control rounded-pill text-center" placeholder="Let's chat with...">
        <button class="btn btn-primary rounded-pill mt-2">Start chat</button>
    </form>
</div>
<hr>
<div class="container-fluid text-center">
    <p [routerLink] = "['/message/1']">Show all messages received</p>
</div>
<router-outlet></router-outlet>
