<div class="pt-5 container shadow-lg p-3 mb-5 bg-white rounded text-center">
  <p class="h3">Glad to see you again!</p>
  <div class="container-fluid">

    <form>
      <div class="form-group text-center">
        <input type="email" class="form-control rounded-pill text-center" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control rounded-pill text-center" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary rounded-pill pl-5 pr-5">Sign in</button>
    </form>

    <div class="text-center">
        <p class="sm text-center">Or sign in with</p>
    </div>
</div>
<button (click)="socialSignIn('google')" class="btn btn-danger border text-light">Sign in with Google</button>
  <!-- <button [routerLink]="['/user/home', 1]">Login</button> -->
</div>
