<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">	

   <div class="container text-center">
     <div class="shadow-sm p-3 mb-5 bg-white rounded">
        <div>
                <h4 [routerLink]= "['details', 1]" class="text-uppercase"><strong>Lake Tahoe Blues</strong></h4>
                <p>Created by: Slim Jim</p>
        </div>
     </div>

     <div class="shadow-sm p-3 mb-5 bg-white rounded">
        <div>
                <h4 [routerLink]= "['details', 3]" class="text-uppercase"><strong>Sierra at Tahoe</strong></h4>
                <p>Created by: Jacky Jones</p>
        </div>
     </div>
     <div class="shadow-sm p-3 mb-5 bg-white rounded">
        <div>
                <h4 [routerLink]= "['details', 4]" class="text-uppercase"><strong>Heavenly Ski Resort</strong></h4>
                <p>Created by: Ketherine Kitterin</p>
        </div>
     </div>
     <div class="shadow-sm p-3 mb-5 bg-white rounded">
        <div>
                <h4 [routerLink]= "['details', 2]" class="text-uppercase"><strong>Big Bear</strong></h4>
                <p>Created by: Jack Smack</p>
        </div>
     </div>
   </div>


<!-- </div> -->

<router-outlet></router-outlet>


