<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">	

<!-- <div class="container-fluid text-center">
        <p [routerLink]= "['details', 1]">Click me to go to event details</p> -->

   <div class="container text-center">
     <div class="row shadow-sm p-3 mb-5 bg-white rounded">
        <div>
                <h4 [routerLink]= "['details', 1]" class="text-uppercase ml-5"><strong>Lake Tahoe Blues</strong></h4>
                <h5>Created by: Slim Jim</h5>
        </div>
     </div>

     <div class="row shadow-sm p-3 mb-5 bg-white rounded">
        <div>
                <h4 [routerLink]= "['details', 2]" class="text-uppercase ml-5"><strong>Big Bear</strong></h4>
                <h5>Created by: Jack Smack</h5>
        </div>
     </div>
   </div>


<!-- </div> -->

<router-outlet></router-outlet>


