<div class="container-fluid user-component">
    <router-outlet></router-outlet>
</div>
<hr>
<div class="container-fluid text-center">
    <a [routerLink] = "['/user/profile', 1]" class=" pr-4 text-center">Profile</a>
    <a [routerLink] = "['/user/friend', 1]" class=" pr-4 text-center">Friends</a>
    <a [routerLink] = "['/user/home', 1]" class=" pr-4 text-center">Home</a>
    <a [routerLink] = "['/user/event/2']" class=" pr-4 text-center">Events</a>
    <a [routerLink] = "['/user/chat', 1]" class=" pr-4 text-center">Chats</a>
</div>
